<div class="container row m-auto">
    <div class="fred">
     <h2 class="col-4 pt-2 FredLac">Qui suis je ?</h2>
     <p class="presentation col-6">Je suis un passe partout. <br>
     Je suis un formateur à mon compte dans le numérique responsable. Mais je me définis plus par mes passions.
         J'aime travailler le bois, bricoler tout types d'objets. Je fais aussi du dessin, de la photo, de la cuisine.
         Loin de penser qu'un métier puisse définir une personne, c'est un ensemble de pratiques qui me définissent
     </p>
 </div>
 
</div>