<header>
  <H1 class="display-1 pt-4 text-center ">Fred Dessine Et Bricole</H1>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/accueil"><img style="width: 45px;" src="../../assets/van.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/quisuije">Qui suis-je</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vanlife">#VanLife</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Créations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/meubles">Meubles</a></li>
              <li><a class="dropdown-item" routerLink="/deco">déco</a></li>
              <li><a class="dropdown-item" routerLink="/commandes">commandes</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dessin">dessins</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/news">Actus</a>
          </li>
        </ul>
      </div>

  </nav>
</header>