<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Les boules de Noel
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/deco/boules.webp" alt="boules de noel" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Voici la première création que je vous propose</strong> Une idée un peu écolo que j'ai eu
                    avec mon fils il y a 3 ans.
                    <br>Chaque année on rachète quelques boules en carton et on les décore. c'est personalisé et en
                    carton.</p>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                L'étagère à voitures
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/deco/20210623_144604.webp" alt="roue étagère" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>L'étagère Sportive</strong> C'est une idée simple trouvée sur le web.
                    <br>Il vous suffit d'acheter une roue (20 pouces dans ce cas) ou d'utiliser une ancienne roue. Le bois est simplement une chute 
                d'un ancien projet. C'est une joie pour mon fils de pouvoir regarder toutes ses voitures en permanence et,</p>
                <a href="https://www.instagram.com/p/CQdphqAno1F/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
    
            </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Le tête de lit
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/deco/20210507_112733.webp" alt="roue étagère" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>La tête de Lit</strong> Découverte en version beaucoup plus complexe, j'ai gardé l'essentiel
                    <br>Assez simple à réaliser, c'est l'idée qui m'a plu. Cette tête de lit donne tout de suite un style à la pièce. 
                Relevée ici par une peinture contrastée. La tête de lit est assez facilement adaptable à tous les formats de lit.</p>
                <a href="https://www.instagram.com/p/COLOki3nDql/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Bac à plante
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/deco/20200608_131944.webp" alt="roue étagère" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Les bacs de plante</strong> sont une chose assez simple à fabriquer
                    <br>Il en faut peu pour faire de votre court ou de votre terrasse un havre de verdure. Les bacs de plantes 
                sont une solution simple pour commencer à avoir une petit potager ou des plantes plus grosses.</p>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Etagère déséquilibrée
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/deco/20210429_131300.webp" alt="roue étagère" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>L'étagère gauche droite déséquilibrée </strong>est une idée que j'ai vu en ligne et que j'ai adapté.
                    <br>Plus complexe à fabriquer elle est entièrement fabriquée avec des planches de chute d'autres projets. Simple, élégante 
                et en équilibre parfait, elle me sert à mettre toutes mes babioles.</p>
                <a href="https://www.instagram.com/p/COP3I21nJzM/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
</div>