<h1 class="text-center">Une nouvelle voie d'expression</h1>
<p class="lead">Après deux décénies de photographie, je suis à un stade de stagnation créatrice. Depuis queslques années
    j'ai repris le dessin,
    D'abord pour partager du temps avec mon fils et de plus en plus pour moi même. <br>
    C'est un support qui me plait beaucoup et je mélange les techniques.
</p>

<H3>Le dessin au trait et à l'aquarelle</H3>
<p class="lead">J'aime bien la facilité de ce type de dessin qui ne demande qu'à s'assoir avec une feuille et de
    commencer à dessiner.</p>

<div class="row justify-content-around">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2018 08 batman ninjaa.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2018 08 kermit.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2019 07 mickael bay.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2019 12 tortue.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2020 01 crane.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2020 01 pieuvre.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2020 02 america.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2020 02 aqsuaman.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2020 03 samourai2.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2021_02aang.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/main/2021_06_danseuse.webp" alt="">
</div>

<H3 class="mt-5">Le dessin sur mes photos</H3>
<p class="lead">D'abord, comme expression artistique, j'ai essayé de dessiner directement sur mes photos. Ensuite, le numérique 
    m'a aidé à continuer plus facilement
</p>

<div class="row justify-content-around">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2018 10 orang outang.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2018 11 godzilla.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2018 12 kingkong.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2018 12 Ny rats.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2019 02 ratatouille.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2019 09 iron man.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2019 09 Wygumm NYPD.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2020 04 3emetype.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2020 04 visagemonstre.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2020 11 pacific rim.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2021_01 photobooth.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2021_01_couché de bombe.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/surphoto/2021_05_DRAGoN.webp" alt="">
</div>

<H3 class="mt-5">Le dessin numérique</H3>
<p class="lead">Aujourd'hui, le gros de ma pratique est numérique. Les possibilités de l'outil offrent quelque chose 
    de nouveau et un peu plus facile à appréhender pour moi.
</p>

<div class="row justify-content-around">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2020 03 batman.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2020 05 lafayette.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2020 05 UCLY.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2020 09 01 emmastone.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2021 01 yamatonum.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2021_01magasin Tokyo 5h32.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2021_05_exceslangue.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/2021_05_totoro.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/arrival.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/calamar watchmen.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/ET.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/final.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/freddy.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/interstellar.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/mike.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/rue.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/sunshine.webp" alt="">
    <img class="col-12 col-md-4 img-fluid zoom" src="../../assets/dessin/numerique/totoro.webp" alt="">






</div>