<h1 class="text-center"> Mes propres meubbles</h1>
<p class="lead">S'il y a bien une chose qui me rend assez fier, c'est de me dire qu'aujourd'hui, chez moi, j'ai fabriqué au moins la moitié des meubles.
</p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Les meubles de mon fils
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/_DSC3449.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Le plus ancien mais pas des moindres</strong> Il y a 4 ans, j'avais un voisin ébéniste à la retraite. Je voulais apprendre un peu de trucs avec lui.
                        Il me fallait un projet, on a eu l'idée de faire la chambre de mon fils.
                    <br>Après des plans très précis sur SketchUp, nous sommes passés à la réalisation en quelques jours. Le plus simple était de partir sur du hêtre du commerce.</p>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Le meuble Hifi
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/_MG_4021.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Le meuble HIFI sur mesure</strong> Qui n'a jamais rêvé d'avoir un meuble hifi qui corresponde à ses affaires ?
                    <br>Je suis un peu un geek et aussi un peu perfectionniste. Du coup après avoir refait mon salon, il fallait que le meuble hifi soit à la hauteur.
                 Toujours accompagné de mon ordinateur, j'ai fait des plans qui correspondaient à mon ampli, ma platine vinyle et ma playstation. Il y a 
                également un compartiment pour cacher les câbles électriques.</p>
            </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                La table à manger
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/_MG_4034.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>La table multi bois</strong> J'ai vu une table qui m'a donné cette idée et qui coutait 2500€. Elle était parfaite mais hors budget.
                    <br>C'est surement une des pièces les plus dure que j'ai eu à réaliser masi ça en vallait le coup. La table est composée de 3 bois pour la surface (hêtre, chêne et chêne teinté) et de sapin pour les pieds. 
                Il m'a fallu un accès à une scie à format pour les découpes et quelques jours d'assemblage. Je l'ai malheureusement revendue dans mon déménagement.</p>
                <a href="https://www.instagram.com/p/CLsAmvQniPM/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Rangements à légos
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20191222_174608.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>pratique et simple</strong> Un projet qui peut être mené en une heure avec uniquement des bois de chutes.
                    <br>Je pense qu'il n'y a pas des tonnes d'explications à donner sur ce projet, j'en avais marre de chercher les pieces de légo 
                à chaque nouvelle construction.Les boites sont en bois et plexiglass avec la pluspart des fixations au pistolet à colle.</p>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Table de chevet TOTORO
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20200709_160140.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>La table de chevet Totoro </strong>Surement mon projet le plus mignon.
                    <br>Le problème était simple. J'avais besoin de ranger les moult livres de mon fils ainsi que sa chaine hifi de seconde main que je lui ai trouvé. 
                La seconde problématique était son amour pour totoro. J'ai donc fait cette table de chevet XXL en suivant le dessin de totoro, 100% en pin. 
            Le petit totoro a fait son aparition pour tenir les livres.</p>
                <a href="https://www.instagram.com/p/CC4BAc4KxwV/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Tensegrity Table
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20200709_181430.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>La table en tenségrité </strong>Connaissez vous ce mot ?
                    <br>C'est un projet que j'ai élaboré en découvrant cette movance du design : la tenségrité. C'est un design en tension où les 
                objets se tiennent entre eux par tensions, câbles... Cette table mouvante ne cesse d'impressioner et est plus solide et stable. Elle 
            est plus stable maintenant que les fils sont en câble métalique que sur la vidéo Instagram</p>
                <a href="https://www.instagram.com/p/CLotD6hI0Ha/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Barbecue extincteur
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20210211_091250.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Le barbecue dans un extincteur ? </strong>La preuve qu'il faut des échecs pur avancer !
                    <br>C'est un projet que j'ai vu chez <a href="https://youtu.be/d1LmyJiHCJs" target="blank">Laura Kampf</a>. Elle est fan de cuisson outdoor et 
                a eu cette idée folle d'oposer le truc qui brule et celui qui éteint. J'ai passé pas mal de temps à améliorer ce barbecue qui manque de tirage par 
            sa profondeur et son diamètre mais c'est plus un aveu d'échec après 4 barbecues et 3 modifications.</p>
                <a href="https://www.instagram.com/p/CLFY2vynJyx/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingHeight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                Le canapé lit
            </button>
        </h2>
        <div id="collapseHeight" class="accordion-collapse collapse" aria-labelledby="headingHeight"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20210223_084004.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Une nouvelle idée de <a href="https://youtu.be/KOZEHdiRBzY" target="blank">Laura Kampf</a> </strong> Un projet qui nécessite de la préparation.
                    <br>Surement le plus gros projet depuis la table de séjour. Ce canapé a nécessité de la place et du matériel. J'ai regardé la vidéo et suis parti une 
                fois de plus sur SketchUp pour faire "deviner" les côtes au logiciel. Il est assez confortable et a déjà servit à dormir. Il me manque encore un meilleur matelas pour l'assise.</p>
                <a href="https://www.instagram.com/p/CLoHOounoCw/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Mon bureau
            </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
            data-bs-parent="#accordionExample">
            <div class="accordion-body row">
                <img src="../../assets/meubles/20210216_095544.webp" class="rounded img-fluid col-12 col-md-4">
                <Div class="col-12 col-md-8 flex-middle">
                    <p><strong>Un nouvel appartement = un nouveau bureau </strong>Parfois on voit qu'on va manquer de place et on a des chutes de panneaux.
                    <br>Il n'y a pas d'innovation profonde sur ce bureau. Il me restait des chutes du canapé lit et j'ai simplement collé 2 planches de 2cm pour faire 
                comme un plan de travail de 4cm d'épaisseur. il est ensuite fixé avec des équerres à un caisson Ikea 5 tiroirs repeint en noir.</p>
                <a href="https://www.instagram.com/p/CLWOIaHnWbf/" target="blank"><img src="../../assets/instagram.svg" style="width: 30px;"></a>
                </Div>
            </div>
        </div>
    </div>
</div>