a, a:visited {
    color: rgb(0, 0, 0);
    text-decoration : none;
}
a:hover {
    color: rgb(52, 162, 236);
    text-decoration : none;
}
.bg-info {
    background-color: rgb(232, 240, 255) !important;
}
.rounded{
    border-radius: 15%;
}
.headerBleu {
    background-color: rgb(44, 118, 187);
}
.logoImg{
    height: 150px;
    width: auto;
     display: block;
      margin-left: auto;
    margin-right: auto;
}
   /* news */
   .ArticlesTitre{
       font-size: 3em;
       text-align: center;
   }
   .news a, .news a:visited, .news a:hover {
       color: black;
   }
   .card {
    height: 400px;
   }
   .card img{
       width: 250px;
       height: auto;
       margin: auto;
       padding-top: 10px;
       padding-bottom: 10px;
       border-radius: 10%;
   }
   /* fiches produits */
   *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 400px;
    margin-right: 10px;
    counter-increment: gallery-cell;
  }
  .gallery-cell img {
      width: 400px;
      margin-bottom: 1px;
  }
.titreProd {
    margin-top : 20px;
    font-size: 2em;
}
.pProduit {
    font-size: x-large;
}