a, a:visited {
    color: rgb(22, 107, 122);
    text-decoration : none;
}
a:hover {
    color: rgb(52, 162, 236);
    text-decoration : none;
}
.bg-info {
    background-color: rgb(232, 240, 255) !important;
}
.rounded{
    border-radius: 15%;
}
   /* news */
   .ArticlesTitre{
       font-size: 3em;
       text-align: center;
   }
   .news {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
   .news a, .news a:visited, .news a:hover {
       color: black;
   }
   .card {
    height: 400px;
   }
   .card img{
       width: 250px;
       height: auto;
       margin: auto;
       padding-top: 10px;
       padding-bottom: 10px;
       border-radius: 10%;
   }

/* blog */
.blogBbcue {
    width: 100px;
    border-radius: 30%;
}
.media {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 30px;
   }

   /* qui suis je */
   .FredLac {
       font-weight: 900;
       font-size: 50px;
       color: white;
       -webkit-text-stroke: 1px black;
       font-family:'Calibri',  'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   }
   .presentation {
font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   font-weight: 900;
   font-size:xx-large;
   color: white;
   -webkit-text-stroke: 1px black;
    }

   /* fiches produits */
   *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 400px;
    margin-right: 10px;
    counter-increment: gallery-cell;
  }
  .gallery-cell img {
      width: 400px;
      margin-bottom: 1px;
  }
.titreProd {
    margin-top : 20px;
    font-size: 2em;
}
.pProduit {
    font-size: x-large;
}