<div class="pb-2">
    <div class="pl-1 jumbotron jumbotron-fluid col-12">
        <h1 class="display-4 pl-3">Le concept</h1>
        <p class="lead pl-3">Devenir Maker c'est un état d'esprit. Chercher des idées en permanence, créer,
            inventer comment. Pas de plan, pas de projets.</p>
        <p class="lead pl-3">Il suffit de patiente, d'un peu de matériel et de savoir faire. Cette activité, ce
            hobbie s'accorde bien avec le dessin qui est aussi une activité créative où on ne sait souvent ni d'où
            on part, ni où on va.</p>
    </div>

    <!-- News -->
    <h2 class="display-5 mt-3">Mes domaines d'activité</h2>
    <div class=" mb-4 news mt-5 pl-5 pr-5">

        <a routerLink="/meubles">
            <div class="card rounded border-0" style="width: 18rem;">
                <div class="card-body">
                    <p class="lead card-text">J'ai beaucoup bricoler, j'aime particulièrement le bois. J'ai l'habitude de
                        faire des meubles
                        et dernièrement j'ai même réalisé mes premières commandes.
                    </p>
                </div>
                <img src="../../assets/meubles/_MG_4034.webp" class="card-img-top" alt="table de salon">

            </div>
        </a>
        <a routerLink="/deco">
            <div class="card rounded border-0" style="width: 18rem;">
                <div class="card-body">
                    <p class="lead card-text">Dans ma passion pour le bricolage il m'arrive aussi de faire des objets plus
                        décoratifs.
                    </p>
                </div>
                <img src="../../assets/deco/20210507_112733.webp" class="card-img-top" alt="table de salon">

            </div>
        </a>
        <a routerLink="/dessin">
            <div class="card rounded border-0" style="width: 18rem;">
                <div class="card-body">
                    <p class="lead card-text">Depuis 3 ans j'ai aussi recommencé à déssiner avec mon fils. Il y a du dessin à
                        la main, de l'aquarelle et du numérique.
                    </p>
                </div>
                <img src="../../assets/dessin/numerique/2020 05 UCLY.webp" class="card-img-top" alt="table de salon">

            </div>
        </a>
        </div>

        <h4>N'hesitez pas à me contacter / consulter pour faire vivre vos idées grâce à mes doigts de fée.</h4>